.principal {
    width: 100%;
    box-sizing: border-box;
    padding: 1%;
}

.not_principal {
    width: 100%;
    box-sizing: border-box;
}

.not_principal h1 {
    width: 100%;
    text-align: center;
    padding: 1%;
    margin-bottom: 1%;
    font-size: 1.2em;
}

.not_principal p {
    width: 100%;
    padding: 1%;
    margin-bottom: 1%;
}

.foto-legenda {
    width: 100%;
    padding: 1%;
    box-sizing: border-box;
    text-align: center;
}

.foto-legenda img {
    max-width: 98%;
    height: 100%;
    padding: 1%;
    margin-right: 1%;
    border-radius: 5%;
}

.foto-legenda h2 {
    width: 100%;
    font-weight: bold;
    font-size: 1em;
    margin-bottom: 1%;
    padding: 1%;
}

.descricao {
    width: 100%;
    padding: 1%;
    margin-bottom: 1%;
}

.rodape {
    text-align: center;
    box-sizing: border-box;
    border: 1px solid black;
}

.rodape p {
    display: flex;
    font-size: 0.7em;
}

.rodape span {
    width: 100%;
    font-size: 1.2em;
    font-weight: bold;
    padding: 1% 0 1% 0;
    margin-bottom: 1%;
}