* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    border: none;
    font-weight: 300;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

/* DEFINICAO DO CONTAINER */

hr {
    width: 98%;
    height: 5px;
    margin-top: 2%;
    background-color: white;
}

.container {
    margin: 0 auto;
    width: 100%;
    min-height: 100vh;
    height: auto;
    background-image: linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.3)), url(../pictures/Background.jpg);
    max-width: 960px;
    color: black; /*#d92e3e */
    box-sizing: border-box;
    border: 12px solid red;
    font-family: 'black ops one', cursive;
}

a { text-decoration: none; color: #ced5c3;}
ul {list-style: none;}
p {text-indent: 5%;}

/*  CABECALHO  */
.cabecalho {
    display: grid;
    align-items: center;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto;
    grid-template-areas: "img text";
}

.logo {
   width: 100%;
   height: 100%;
   padding: 2%;
   grid-area: img;
}

.logo img {
    width: 100%;
    margin: 2%;
    border-radius: 10%;
}

.tit_logo {
    text-align: center;
    grid-area: text;
}

.tit_logo h1 {
    width: 100%;
    text-align: center;
    font-size: 2.5em;
}

.tit_logo h2 {
    width: 100%;
    text-align: center;
    font-size: 1.2em;
}

.menu {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    align-items: center;
    background-color: blueviolet;
}

.menu h1 {
    font-size: 0;
}


button {
    font-family: 'black ops one', cursive ;
    cursor: pointer;
}

.btn {
    text-align: center;
    width: 100%;
    background-color: lightcyan;
}


.btn button {
    padding: 1%;
    text-align: center;
    border-radius: 0.5em;
    margin-right: 1%;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    background-color: #97a365;
    box-shadow: 3px 2px 0 #647327;
    transition: 0.3s ease;
}

.btn button:active {
    box-shadow: 0 0 0 #647327, inset 2px 2px 3px #647327;
    transform: translate(3px, 3px);
}

.btn button:last-child {
    margin-right: 0;
}

.btn button:first-child {
    margin-left: 0;
}

.btn a {
    width: 100%;
    height: 100%;
    font-size: 0.8em;
    font-weight: bold;
}

.btn button:hover{
    background-color: #c8beb5;
}

.btn button:hover a {
    color: #647327;
}

.principal {
    flex: 1;
}

/*  RODAPE */

.rodape {
    text-align: center;
    box-sizing: border-box;
    border: 1px solid black;
}

.rodape p {
    display: flex;
    font-size: 0.7em;
}

.rodape span {
    width: 100%;
    font-size: 1.2em;
    font-weight: bold;
    padding: 1% 0 1% 0;
    margin-bottom: 1%;
}