* {
    font-family: 'Metal Mania', cursive;
    /* border: 1px solid lightgray; */
    color: rgb(197, 197, 194);
}

p {
    text-align: justify;
}

a {
    text-decoration: none;
    color: grey;
}

a:hover {
    text-decoration: none;
    color: rgb(230, 147, 40);
}

.banner {
    width: 960px;
    height: 360px;
    border: 2px solid red;
}

.menu-lateral a {
    color: rgb(211, 149, 35);
}

.menu-lateral a:hover {
    color: rgb(211, 149, 35);
}

footer {
    font-size: .9em;
}

.img-thumbnail {
    background-color: tomato;
    margin-right: 20px;
}