.logo {
    width: 20%;
}

.cabecalho {
    position: relative;
}

.tit_logo {
    margin: 0;
}

.mobile-menu-icon {
    width: 50px;
}

.posicao-botao {
    position: absolute;
    bottom: 2px;
    right: 2px;
}

.open, .close {
    display: block;
}

.menu {
    display: none;
}

.btn {
    width: 95%;
    margin-left: 0.6rem;
    display: flex;
    flex-direction: column;
}
.menu > button {
    width: 90%;
}

main {
    margin-top: 1rem;
}

aside {
    width: 100%;
    padding: .5rem;
}