body {
    padding: 0.7rem;
}

main {
    flex-direction: column;
}

.logo {
    width: 30%;
}

.container {
    width: 100%;
}

article h1 {
    text-align: center;
}

.about {
    flex-flow: column wrap;
}

.destaque-index {
    font-size: 1rem;
}

.com-left, .com-right {
    width: 100%;
}

.list-destak > li {
    padding-left: 0;
}

.slider {
    width: 100%;
}

.slide-content {
    flex-flow: row wrap;
    justify-content: center;
    gap: .5rem;
}

.slide-content li {
    max-width: 25%;
}