body {
    padding: 0.7rem;
}

main {
    flex-direction: column;
}

.cabecalho {
    /* flex-direction: column; */
}

.logo {
    width: 30%;
}

article {
    width: 100%;
}

article h1 {
    text-align: center;
}