@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root  {
    --red-titulo: rgb(255, 0, 0);
    --red: rgb(203, 46, 48);
    --white: rgb(255, 255, 255);
    --light-gray: rgb(238, 238, 238);
    --gray: rgb(168, 182, 198);
    --background-body: rgb(248, 248, 248);
    --background-header: rgb(30, 144, 255);
    --blue: rgb(49, 74, 145);
    --fundo-gray: rgb(191,191,191);
    --black: rgb(0, 0, 0);
    --font: rgb(42, 42, 43);
    --light-black: rgb(26, 26, 26);
    --terra: rgb(138, 54, 15);
    --terra-avela: rgb(139, 6, 19);
    --platinum: rgb(102, 102, 102);
}

h1, h2, h3, h4 {
    color: var(--red);
    /* font-size: 3vw; */
    font-weight: bolder;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
}
h1 {
    font-size: 5vw;
    color: var(--red-titulo);
}

h2 {
    font-size: 2.5vw;
}

h3 {
    font-size: 2vw;
}

h5 {
    font-size: 1.5vw;
    color: var(--blue);
    font-style: oblique;
    font-weight: bold;
}

button {
    cursor: pointer;
}

body {
    width: 100vw;
    height: 100vh;
    padding: 0.7rem;
    background: var(--blue);
    color: var(--font);
    font-family:  "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    box-sizing: border-box;
}

.strong {
    font-weight: bold;
    font-style: italic;
    font-size: large;
}

.cabecalho {
    max-width: 97.5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tit_logo {
    width: 100%;
    height: 100%;
    margin-right: 12vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 8px 0;
}

.posicao-botao {
    display: none;
}

.posicao-botao > img {
    width: 100%;
    height: 100%;
}

main {
    width: 100%;
    background: linear-gradient(var(--light-black), var(--fundo-gray));
    display: flex;
    gap: 10px;
}

.container {
    color: var(--white);
    background: linear-gradient(to right, var(--light-black), var(--fundo-gray));
    width: 80%;
    padding: 0.5rem;
}

article h1 {
    font-size: 1.7rem;
    margin: 0.7rem auto;
}

p {
    font-optical-sizing: 16px;
    text-indent: 15px;
    line-height: 1.3;
    margin-bottom: .5rem;
}

a {
    color: var(--white);
    font-weight: bold;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
    image-rendering: pixelated;
}

.btn button {
    height: 3rem;
}

.btn button:hover, .btn button:hover > a {
    background-color: var(--white);
    color: var(--red);
    cursor: pointer;
    transform: scale(1.2);
    font-weight: bolder;
    padding: 2px 2px;
}

button {
    background-color: var(--blue);
    border: 2px solid var(--white);
    padding: 5px 10px;
}

.mobile-menu-icon > button:hover {
    background-color: var(--red);
}

.number {
    color: var(--letter);
    font-weight: bold;
    font-size: 18px;
}

aside {
    width: 20%;
}

.slide-content {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    overflow: hidden;
}

.slide-content li {
    min-height: 200px;
    padding: 0.5rem;
    margin-bottom: 5px;
    background-color: var(--gray);
}

.slide-content h5 {
    margin: .4em auto;
    text-align: center;
}

.rodape {
    margin-top: 1rem;
}